doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",href="main.css")
        style
            include main.css
        link(rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer")
        title 1234
    body 

    div(class="main_container")
      div(class="first_bar")
        i(style="color: white; margin-top: 70%; margin-left: 30%"
          class="fa-solid fa-microphone")           
        i(style="color: white; margin-top: 70%; margin-left: 25%"
          class="fa-solid fa-comment-dots")
        i(style="color: white; margin-top: 70%; margin-left: 25%"
          class="fa-solid fa-user")
        i(style="color: white;margin-top: 70%;margin-left: 25%;margin-bottom: 30%;"
        class="fa-solid fa-arrow-right-from-bracket")
      div(class="second_bar")
        div#welcome
            form
                input#roomname(placeholder="room name", required, type="text")
                input#nickname(placeholder="nickname", required, type="text")
                button Enter Room 
        div#room
            h3
            ul
            form#name
                input(placeholder="nickname", required, type="text")
                button Send 
            form#msg
                input(placeholder="message", required, type="text")
                button Send 



      div

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
     


     
       
    
     
        
        

    


